@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    Response.Cache.SetCacheability(System.Web.HttpCacheability.NoCache);

    Response.Cache.SetNoStore();
}
            <div class="container" id="container">

 
                    
            </div>
            <!-- /#page-content-wrapper -->
 
<!--  <div class="span3 well">
                    <center>
                        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="~/Content/UsersImage/5.jpg" name=" aboutme" width="140" height="140" class="img-circle"></a>
                        <h3>Test  Awe</h3>
                        <em>click my face for more</em>
                    </center>
                </div>-->